/* tag selector */

/* class selector */
.attribution { font-size: 11px; text-align: center; }

.attribution a { color: hsl(228, 45%, 44%); }


.container-fluid {
  padding: 15% 18%;
}

.card {
  line-height: 2;
  text-align: left;
  font-size: 15px;
  padding: 5% 7% 5% 2%;
}

.car-image {
width: 75px;
height: 50px;
}

.card-title {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 2.5rem;
  color: #fff;
  padding-top: 10%;
}

.card-text {
  font-family: 'Lexend Deca', sans-serif;
  color: #fff;
  padding-top: 10%;
  padding-bottom: 25%;
}

.sedan {
  background-color: hsl(31, 77%, 52%);
}

.suvs {
  background-color: hsl(184, 100%, 22%);
}

.luxury {
  background-color: hsl(179, 100%, 13%);
}

.btn {
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;

}



.btn-sedan {
  color: hsl(31, 77%, 52%);

}


.btn-suvs{
  color: hsl(184, 100%, 22%);
}



.btn-luxury {
  color: hsl(179, 100%, 13%);
}
/* id selector */

/* comment section */
